@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
}

.noto-serif{
    font-family: "Noto Serif", serif;
}

.gray-text{
    color: rgba(0, 0, 0, 0.5);
}

.orange-text{
    color: rgb(233, 90, 8);
}

.orange-bg{
    background-color: rgb(233, 90, 8);
}

.drop{
    filter: drop-shadow(5px 10px 4px #303036);
}